= simple_form_for(@rental_record) do |f|
  = f.error_notification

  
  
  .form-inputs
    = f.association :customer
    = f.association :vehicle
    = f.input :start_date
    = f.input :end_date
    = f.input :lastUpdated

    :css
      .sigWrapper {
      clear: both;
      height: 108px; /* Change the height */
      border: 1px solid #ccc;
      }
    .sigPad
      %p.drawItDesc Draw your signature
      %ul.sigNav
        %li.clearButton
          %a{:href => "#clear"} Clear
      .sig.sigWrapper
        .typed
        %canvas.pad{:height => "105", :width => "300"}
        = f.input :output , as: :hidden , input_html: { class: 'output' }
    %div
      %br
  
  .form-actions
    = f.button :submit

    