= simple_form_for(@rental_record) do |f|
  = f.error_notification

  .form-inputs
    = f.association :customer
    = f.association :vehicle
    = f.input :start_date
    = f.input :end_date
    = f.input :lastUpdated
    
    %h3 Passengers
    #passengers
      = f.simple_fields_for :passengers do |passenger|
        = render 'passenger_fields', f: passenger
        
      .links
        = link_to_add_association 'add passenger', f, :passengers
      
  .form-actions
    = f.button :submit

    