= simple_form_for(@rental_record) do |f|
  = f.error_notification

  .form-inputs
    = f.association :customer
    = f.association :vehicle
    = f.input :start_date
    = f.input :end_date
    = f.input :lastUpdated

  .form-actions
    = f.button :submit
