%h1= Job.model_name.human.singularize

%dl.dl-horizontal
  %dt= Job.human_attribute_name :description
  %dd= @job.description
  %dt= Job.human_attribute_name :done
  %dd= @job.done
  %dt= Job.human_attribute_name :project
  %dd= @job.project

= link_to t('actions.edit'), edit_job_path(@job)
\|
= link_to t('actions.cancel'), jobs_path
