/ simple_form 3.2.1 horizontal form
/ https://github.com/rafaelfranca/simple_form-bootstrap/blob/master/app/views/examples/_horizontal_form_sf.html.erb
/ I changed columns from 3 to 2, eg: was..  b.use :label, class: 'col-sm-3 control-label'
/                                           b.use :label, class: 'col-sm-2 control-label'


= simple_form_for @customer,  html: { class: 'form-horizontal' }, |
  wrapper: :horizontal_form,                                                                                                        |
  wrapper_mappings: {                                                                                                               |
    check_boxes: :horizontal_radio_and_checkboxes,                                                                                  |
    radio_buttons: :horizontal_radio_and_checkboxes,                                                                                |
    file: :horizontal_file_input,                                                                                                   |
    boolean: :horizontal_boolean                                                                                                    |
  } do |f|                                                                                                                          |

  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :phone
    = f.input :discount

  .form-actions
    = f.button :submit
    \&nbsp &nbsp|&nbsp &nbsp
    = link_to t('actions.cancel'), customers_path
