/ simple_form 3.2.1 horizontal form
/ good example... https://github.com/rafaelfranca/simple_form-bootstrap/blob/master/app/views/examples/_horizontal_form_sf.html.erb
/ I changed columns from 3 to 2, eg: was..  b.use :label, class: 'col-sm-3 control-label'
/                                           b.use :label, class: 'col-sm-2 control-label'


= simple_form_for @customer,  html: { class: 'form-horizontal' }, |
  wrapper: :horizontal_form,                                                                                                        |
  wrapper_mappings: {                                                                                                               |
    check_boxes: :horizontal_radio_and_checkboxes,                                                                                  |
    radio_buttons: :horizontal_radio_and_checkboxes,                                                                                |
    file: :horizontal_file_input,                                                                                                   |
    boolean: :horizontal_boolean                                                                                                    |
  } do |f|                                                                                                                          |

  = f.error_notification

  .form-inputs

  .row
    .col-sm-2{:style => "background-color:white;"}
      %ul.list-inline
        %li
          &nbsp
    .col-sm-9{:style => "background-color:white;"}
      %ul.list-inline
        %li
          = f.input :name
        %li
          = f.input :phone

    /= f.input :name
    /= f.input :phone

    = f.input :address
    
    / simple_form inline radio buttons
    / http://stackoverflow.com/questions/25352643/how-to-generate-a-radio-inline-label-with-simple-form-and-bootstrap
    = f.input :discount , collection: [ 0.1 , 0.15 , 0.2 ] , as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false

  .form-actions
    = f.button :submit
    \&nbsp &nbsp|&nbsp &nbsp
    = link_to t('actions.cancel'), customers_path
