%h1= Customer.model_name.human.singularize

= link_to 'Print page 1', print1_customer_path(@customer), class: 'btn btn-primary'
= link_to 'Print page 2', print2_customer_path(@customer), class: 'btn btn-primary'



%dl.dl-horizontal
  %dt= Customer.human_attribute_name :name
  %dd= @customer.name
  %dt= Customer.human_attribute_name :address
  %dd= @customer.address
  %dt= Customer.human_attribute_name :phone
  %dd= @customer.phone
  %dt= Customer.human_attribute_name :discount
  %dd= @customer.discount
  %dt= 'Creator'
  %dd= @customer.user

= link_to t('actions.edit'), edit_customer_path(@customer), class: 'btn btn-primary'
\&nbsp &nbsp &nbsp|&nbsp &nbsp &nbsp
= link_to t('actions.cancel'), customers_path
