%h1= PasengerList.model_name.human.singularize

%dl.dl-horizontal
  %dt= PasengerList.human_attribute_name :clocknum
  %dd= @pasenger_list.clocknum
  %dt= PasengerList.human_attribute_name :name
  %dd= @pasenger_list.name
  %dt= PasengerList.human_attribute_name :active
  %dd= @pasenger_list.active

= link_to t('actions.edit'), edit_pasenger_list_path(@pasenger_list), class: 'btn btn-primary'
\&nbsp &nbsp &nbsp|&nbsp &nbsp &nbsp
= link_to t('actions.cancel'), pasenger_lists_path
