= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description

  %h3 Jobs
  #jobs
    = f.simple_fields_for :jobs do |job|
      = render 'job_fields', f: job
    .links
      = link_to_add_association 'add job', f, :jobs
      
  .form-actions
    = f.button :submit
