= simple_form_for(@passenger) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :output
    = f.association :rental_record

  .form-actions
    = f.button :submit
