:css
  a {display:block;line-height:1em;}
  #resize01 {height:39px;overflow:hidden;background:#eee;}
  #viewmore, #viewless {
      margin:5px 0 0 0;
      padding:7px 5px;
      background:#598296;
      color:#fff;
      display:inline-block;
      text-decoration:none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  }

.container-fluid

.row
  .col-sm-2.col-md-3.col-lg-3{:style => "background-color:white;"}
    %ul.list-inline
      %li
        = link_to t('actions.create'), new_passenger_path, class: 'btn btn-primary'
      %li
        %h4{:class => "vcenter", :style => "color:black;margin-left:1px;"}= Passenger.model_name.human

  .col-sm-4.col-md-4.col-lg-4{:style => "background-color:white;"}

    %div#resize01
      = search_form_for @q, {:class => "search-form"} do |f|
        .input-group 
          / http://stackoverflow.com/questions/27451693/display-two-fields-side-by-side-in-a-bootstrap-form
          = f.search_field most_passengers_cont, class: 'form-control' , :placeholder => "Most fields..(enter one word)"
          = f.search_field most2_passengers_cont, class: 'form-control' , :placeholder => "Most fields.."
          %span.input-group-addon{:class => "seperator1", :style => "max-width:1px;"} &nbsp
          = f.search_field :pasenger_list_name_or_pasenger_list_clocknum_cont_any, class: 'form-control', :placeholder => "Name or Clock"
          = f.search_field :rental_record_id_eq, class: 'form-control', :placeholder => "Rental Record ID"        
          %span.input-group-btn{:style => "vertical-align:top;"}
            %button.btn.btn-primary
              %i.fa.fa-search

  .col-sm-2.col-md-2.col-lg-2{:style => "background-color:white;"}

    <a href="#" id="viewmore">+ View more (Search)</a>
    <a href="#" id="viewless">- View less (Search)</a>
    /<a href="#" id="show_div">Toggle Search...</a>
    /<div id="idhiddendiv1" class="hiddendiv1">.can you see me??.</div>

  .col-sm-2.col-md-2.col-lg-2{:style => "background-color:white;"}
    = page_entries_info @passengers, :entry_name => 'item'
    / this works..   &nbsp  ---- use &#032; instead of &nbsp; for just a plain whitespace. 

    
= paginate @passengers
  

%table.table.table-striped
  %thead
    %tr
      %th
      %th
      %th= sort_link(@q, :name, Passenger.human_attribute_name(:name))
      %th= sort_link(@q, :description, Passenger.human_attribute_name(:description))
      %th= sort_link(@q, :output, Passenger.human_attribute_name(:output))
      %th= sort_link(@q, :rental_record, Passenger.human_attribute_name(:rental_record))
      %th= sort_link(@q, :pasenger_list, Passenger.human_attribute_name(:pasenger_list))
      %th= 'ID'
      %th= 'Searchm'

  %tbody
    - @passengers.each do |passenger|
      %tr
        %td= link_to t('actions.show'), passenger, class: 'btn btn-primary'
        %td= link_to t('actions.edit'), edit_passenger_path(passenger)
        %td= passenger.name
        %td= passenger.description
        %td= passenger.output.truncate(99)
        %td= passenger.rental_record
        %td= passenger.pasenger_list
        / add id and calculated column to the view..
        %td= passenger.id
        %td= passenger.searchm

= paginate @passengers


/ http://stackoverflow.com/questions/10340108/how-to-hide-html-div
/ http://jsfiddle.net/arunpjohny/yjxzQ/
/ http://stackoverflow.com/questions/16473299/remember-toggle-state-on-div-after-page-refresh

%script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.js")

:javascript
  $(function() {
      $('a#show_div')
        .click(function(event){
        event.preventDefault();
        $('div#idhiddendiv1').toggle();
      });
      
  $('#viewless').hide();
  $('#viewmore').click(function(){
      var el = $('#resize01'),
          curHeight = el.height(),
          autoHeight = el.css('height', 'auto').height();
      el.height(curHeight).animate({height: autoHeight}, 150);
      $('#viewmore').hide();
      $('#viewless').show();

      $.cookie('viewmore', true);
  });

  $('#viewless').click(function(){
      $('#resize01').animate({height: '39'}, 150);
      $('#viewmore').show();
      $('#viewless').hide();
      
      $.cookie('viewmore', false);
  });

  if($.cookie('viewmore') == 'true'){
      $('#viewmore').click();
  } else {
      $('#viewless').click();
  }    
  });

  