= simple_form_for(@vehicle) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :veh_reg_no
    = f.input :category
    = f.input :desc
    = f.input :photo
    = f.input :daily_rate

  .form-actions
    = f.button :submit
