!!!
%html
  %head
    %title rail253y
    /
      rail253y
      version: #{Rails.application.config.version} (#{l(Rails.application.config.version_time)})

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    /[if lt IE 9]
      %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"}
    = csrf_meta_tags
  %body{class: "#{controller.controller_name}"}
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar

          = link_to 'rail253y', root_path, class: 'navbar-brand'

        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to 'Customers', customers_path
            
          %ul.nav.navbar-nav.navbar-right
            - if current_user

              %li= link_to 'tadmin', '/admin'
              %li= link_to 'radmin', rails_admin.index_path('')
              %li= link_to 'Users', users_path
  
              %li.dropdown
                %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" }, role: "button", aria: { expanded: "false" } }
                  %i.fa.fa-user
                  = current_user.email
                  %span.caret
                %ul.dropdown-menu{ role: "menu" }
                  %li= link_to t('user_sessions.logout'), logout_path, method: :destroy


    .container-fluid
      - flash.each do |type, msg|
        %div{class: "alert alert-#{type == 'alert' ? 'danger' : 'success'} alert-dismissable", role: 'alert'}
          %button.close{type: 'button', data: {dismiss: 'alert'}, aria: {label: 'Close'}}
            %span{aria: {hidden: 'true'}} &times;
          = msg if msg.is_a?(String)

      = yield
